/* MyHabboPlus Habbo Alternative Theme */
body.newhabbo#viewmode, body.newhabbo#home, body.newhabbo#news, body.newhabbo#cbs2credits, body.newhabbo#loyalty_points, body.newhabbo#credit_offers, body.newhabbo#profile, body.newhabbo#embedpage {
	background-attachment:fixed;
	background-color:#007498;
	background-image:url('../../images/v3/bg_texture.out.png');
	background-image:url('../../images/v3/bg_texture.out.png'),-webkit-radial-gradient(190px 190px,circle farthest-side,#0297c8 0,#007498 480px);background-image:url('../../images/v3/bg_texture.out.png'),-moz-radial-gradient(190px 190px,circle farthest-side,#0297c8 0,#007498 480px);background-image:url('../../images/v3/bg_texture.out.png'),-ms-radial-gradient(190px 190px,circle farthest-side,#0297c8 0,#007498 480px);background-image:url('../../images/v3/bg_texture.out.png'),radial-gradient(circle farthest-side at 190px 190px,#0297c8 0,#007498 480px);
	padding:0px !important;
}
body.newhabbo#viewmode.color_purple, body.newhabbo#home.color_purple, body.newhabbo#news.color_purple, body.newhabbo#cbs2credits.color_purple, body.newhabbo#loyalty_points.color_purple, body.newhabbo#credit_offers.color_purple, body.newhabbo#profile.color_purple, body.newhabbo#embedpage.color_purple {
	background-color:#8a5a96;
	background-image:url('../../images/v3/bg_texture.out.png');
	background-image:url('../../images/v3/bg_texture.out.png'),-webkit-radial-gradient(190px 190px,circle farthest-side,#b677c7 0,#8a5a96 480px);background-image:url('../../images/v3/bg_texture.out.png'),-moz-radial-gradient(190px 190px,circle farthest-side,#b677c7 0,#8a5a96 480px);background-image:url('../../images/v3/bg_texture.out.png'),-ms-radial-gradient(190px 190px,circle farthest-side,#b677c7 0,#8a5a96 480px);background-image:url('../../images/v3/bg_texture.out.png'),radial-gradient(circle farthest-side at 190px 190px,#b677c7 0,#8a5a96 480px);
}

body.newhabbo#viewmode.color_pink, body.newhabbo#home.color_pink, body.newhabbo#news.color_pink, body.newhabbo#cbs2credits.color_pink, body.newhabbo#loyalty_points.color_pink, body.newhabbo#credit_offers.color_pink, body.newhabbo#profile.color_pink, body.newhabbo#embedpage.color_pink {
	background-color:#c1748c;
	background-image:url('../../images/v3/bg_texture.out.png');
	background-image:url('../../images/v3/bg_texture.out.png'),-webkit-radial-gradient(190px 190px,circle farthest-side,#f291b0 0,#c1748c 480px);background-image:url('../../images/v3/bg_texture.out.png'),-moz-radial-gradient(190px 190px,circle farthest-side,#f291b0 0,#c1748c 480px);background-image:url('../../images/v3/bg_texture.out.png'),-ms-radial-gradient(190px 190px,circle farthest-side,#f291b0 0,#c1748c 480px);background-image:url('../../images/v3/bg_texture.out.png'),radial-gradient(circle farthest-side at 190px 190px,#f291b0 0,#c1748c 480px);
}

body.newhabbo#viewmode.color_red, body.newhabbo#home.color_red, body.newhabbo#news.color_red, body.newhabbo#cbs2credits.color_red, body.newhabbo#loyalty_points.color_red, body.newhabbo#credit_offers.color_red, body.newhabbo#profile.color_red, body.newhabbo#embedpage.color_red {
	background-color:#ad353b;
	background-image:url('../../images/v3/bg_texture.out.png');
	background-image:url('../../images/v3/bg_texture.out.png'),-webkit-radial-gradient(190px 190px,circle farthest-side,#e0454d 0,#ad353b 480px);background-image:url('../../images/v3/bg_texture.out.png'),-moz-radial-gradient(190px 190px,circle farthest-side,#e0454d 0,#ad353b 480px);background-image:url('../../images/v3/bg_texture.out.png'),-ms-radial-gradient(190px 190px,circle farthest-side,#e0454d 0,#ad353b 480px);background-image:url('../../images/v3/bg_texture.out.png'),radial-gradient(circle farthest-side at 190px 190px,#e0454d 0,#ad353b 480px);
}

body.newhabbo#viewmode.color_orange, body.newhabbo#home.color_orange, body.newhabbo#news.color_orange, body.newhabbo#cbs2credits.color_orange, body.newhabbo#loyalty_points.color_orange, body.newhabbo#credit_offers.color_orange, body.newhabbo#profile.color_orange, body.newhabbo#embedpage.color_orange {
	background-color:#e18f53;
	background-image:url('../../images/v3/bg_texture.out.png');
	background-image:url('../../images/v3/bg_texture.out.png'),-webkit-radial-gradient(190px 190px,circle farthest-side,#ffad72 0,#e18f53 480px);background-image:url('../../images/v3/bg_texture.out.png'),-moz-radial-gradient(190px 190px,circle farthest-side,#ffad72 0,#e18f53 480px);background-image:url('../../images/v3/bg_texture.out.png'),-ms-radial-gradient(190px 190px,circle farthest-side,#ffad72 0,#e18f53 480px);background-image:url('../../images/v3/bg_texture.out.png'),radial-gradient(circle farthest-side at 190px 190px,#ffad72 0,#e18f53 480px);
}

body.newhabbo#viewmode.color_yellow, body.newhabbo#home.color_yellow, body.newhabbo#news.color_yellow, body.newhabbo#cbs2credits.color_yellow, body.newhabbo#loyalty_points.color_yellow, body.newhabbo#credit_offers.color_yellow, body.newhabbo#profile.color_yellow, body.newhabbo#embedpage.color_yellow {
	background-color:#d6be43;
	background-image:url('../../images/v3/bg_texture.out.png');
	background-image:url('../../images/v3/bg_texture.out.png'),-webkit-radial-gradient(190px 190px,circle farthest-side,#ffe76d 0,#d6be43 480px);background-image:url('../../images/v3/bg_texture.out.png'),-moz-radial-gradient(190px 190px,circle farthest-side,#ffe76d 0,#d6be43 480px);background-image:url('../../images/v3/bg_texture.out.png'),-ms-radial-gradient(190px 190px,circle farthest-side,#ffe76d 0,#d6be43 480px);background-image:url('../../images/v3/bg_texture.out.png'),radial-gradient(circle farthest-side at 190px 190px,#ffe76d 0,#d6be43 480px);
}

body.newhabbo#viewmode.color_green, body.newhabbo#home.color_green, body.newhabbo#news.color_green, body.newhabbo#cbs2credits.color_green, body.newhabbo#loyalty_points.color_green, body.newhabbo#credit_offers.color_green, body.newhabbo#profile.color_green, body.newhabbo#embedpage.color_green {
	background-color:#70b338;
	background-image:url('../../images/v3/bg_texture.out.png');
	background-image:url('../../images/v3/bg_texture.out.png'),-webkit-radial-gradient(190px 190px,circle farthest-side,#98d95f 0,#70b338 480px);background-image:url('../../images/v3/bg_texture.out.png'),-moz-radial-gradient(190px 190px,circle farthest-side,#98d95f 0,#70b338 480px);background-image:url('../../images/v3/bg_texture.out.png'),-ms-radial-gradient(190px 190px,circle farthest-side,#98d95f 0,#70b338 480px);background-image:url('../../images/v3/bg_texture.out.png'),radial-gradient(circle farthest-side at 190px 190px,#98d95f 0,#70b338 480px);
}

body.newhabbo#viewmode.color_black, body.newhabbo#home.color_black, body.newhabbo#news.color_black, body.newhabbo#cbs2credits.color_black, body.newhabbo#loyalty_points.color_black, body.newhabbo#credit_offers.color_black, body.newhabbo#profile.color_black, body.newhabbo#embedpage.color_black {
	background-color:#343434;
	background-image:url('../../images/v3/bg_texture_1.out.png');
	background-image:url('../../images/v3/bg_texture_1.out.png'),-webkit-radial-gradient(190px 190px,circle farthest-side,##4d4d4d 0,#343434 480px);background-image:url('../../images/v3/bg_texture_1.out.png'),-moz-radial-gradient(190px 190px,circle farthest-side,##4d4d4d 0,#343434 480px);background-image:url('../../images/v3/bg_texture_1.out.png'),-ms-radial-gradient(190px 190px,circle farthest-side,##4d4d4d 0,#343434 480px);background-image:url('../../images/v3/bg_texture_1.out.png'),radial-gradient(circle farthest-side at 190px 190px,##4d4d4d 0,#343434 480px);
}

body.newhabbo#viewmode.color_black, body.newhabbo#home.color_black, body.newhabbo#news.color_black, body.newhabbo#cbs2credits.color_black, body.newhabbo#loyalty_points.color_black, body.newhabbo#credit_offers.color_black, body.newhabbo#profile.color_black, body.newhabbo#embedpage.color_black {
	background-color:#343434;
	background-image:url('../../images/v3/bg_texture_1.out.png');
	background-image:url('../../images/v3/bg_texture_1.out.png'),-webkit-radial-gradient(190px 190px,circle farthest-side,#4d4d4d 0,#343434 480px);background-image:url('../../images/v3/bg_texture_1.out.png'),-moz-radial-gradient(190px 190px,circle farthest-side,#4d4d4d 0,#343434 480px);background-image:url('../../images/v3/bg_texture_1.out.png'),-ms-radial-gradient(190px 190px,circle farthest-side,#4d4d4d 0,#343434 480px);background-image:url('../../images/v3/bg_texture_1.out.png'),radial-gradient(circle farthest-side at 190px 190px,#4d4d4d 0,#343434 480px);
}

body.newhabbo#viewmode.color_white, body.newhabbo#home.color_white, body.newhabbo#news.color_white, body.newhabbo#cbs2credits.color_white, body.newhabbo#loyalty_points.color_white, body.newhabbo#credit_offers.color_white, body.newhabbo#profile.color_white, body.newhabbo#embedpage.color_white {
	background-color:#d3d3d3;
	background-image:url('../../images/v3/bg_texture.out.png');
	background-image:url('../../images/v3/bg_texture.out.png'),-webkit-radial-gradient(190px 190px,circle farthest-side,#f7f7f7 0,#d3d3d3 480px);background-image:url('../../images/v3/bg_texture.out.png'),-moz-radial-gradient(190px 190px,circle farthest-side,#f7f7f7 0,#d3d3d3 480px);background-image:url('../../images/v3/bg_texture.out.png'),-ms-radial-gradient(190px 190px,circle farthest-side,#f7f7f7 0,#d3d3d3 480px);background-image:url('../../images/v3/bg_texture.out.png'),radial-gradient(circle farthest-side at 190px 190px,#f7f7f7 0,#d3d3d3 480px);
}

body.newhabbo #header-container {
	background:rgba(16, 16, 22, 0.85);
	background-image:none;
	width:100% !important;
	padding:0px;
	box-shadow:0px 1px 0px 0px rgba(255,255,255, 0.25);
	position:fixed;
	top:0;
	z-index:999;
}

body.newhabbo.color_white #header-container {
	background:rgba(240, 240, 240, 0.95);
	box-shadow:0px 1px 0px 0px rgba(0,0,0, 0.25);
}

body.newhabbo #header h1 a, body.newhabbo #header h1 span {
	background-image:url("../../v2/images/habbologo_whiteR.gif")
}

body.newhabbo.color_white #header h1 a, body.newhabbo #header h1 span {
	background-image:url("../../v2/images/habbologo_blackR.gif")
}

body.newhabbo #navi li strong, body.newhabbo #navi li a {
	background:none;
	background-color:white;
	color:black;
	border-radius:4px 4px 0px 0px;
}

body.newhabbo #navi li:hover strong, body.newhabbo #navi li:hover a {
	opacity:0.9;
}

body.newhabbo #navi li.selected span {
	background:none;
}

body.newhabbo #navi li.selected strong, body.newhabbo #navi li.selected a {
	background:none;
	background-color:#7aa2b9;
	color:rgba(255,255,255,0.85);
	text-shadow:0px 1px 0px rgba(0,0,0,0.4);
	border-radius:4px 4px 0px 0px;
}

body.newhabbo.color_purple #navi li.selected strong, body.newhabbo.color_purple #navi li.selected a {
	background-color:#b290cf;
}

body.newhabbo.color_pink #navi li.selected strong, body.newhabbo.color_pink #navi li.selected a {
	background-color:#d794b2;
}

body.newhabbo.color_red #navi li.selected strong, body.newhabbo.color_red #navi li.selected a {
	background-color:#c65f66;
}

body.newhabbo.color_orange #navi li.selected strong, body.newhabbo.color_orange #navi li.selected a {
	background-color:#ea9f54;
}

body.newhabbo.color_yellow #navi li.selected strong, body.newhabbo.color_yellow #navi li.selected a {
	background-color:#deb847;
}

body.newhabbo.color_green #navi li.selected strong, body.newhabbo.color_green #navi li.selected a {
	background-color:#98bb37;
}

body.newhabbo.color_black #navi li.selected strong, body.newhabbo.color_black #navi li.selected a {
	background-color:#5a5a5a;
}

body.newhabbo.color_white #navi li.selected strong, body.newhabbo.color_white #navi li.selected a {
	background-color:#dbdbdb;
	color:rgba(0,0,0,0.85);
	text-shadow:0px 1px 0px rgba(255,255,255,0.4);
}

body.newhabbo #navi li.selected:hover strong, body.newhabbo #navi li.selected:hover a {
	opacity:1;
}

body.newhabbo #navi li span {
	background:none;
}

body.newhabbo #navi #tab-register-now a {
	background-color:#2eb935;
	color:white;
	font-weight:bold;
	text-shadow:0px 1px 0px #22851b;
}

body.newhabbo p #enter-hotel-open-medium-link {
	margin-top:-17px;
}

body.newhabbo #subnavi-search {
	text-align:left;
	left:10px;
	right:0px;
}

body.newhabbo #subnavi-search {
	top:4px;
}

body.newhabbo #subnavi-login {
	top:-4px;
}

body.newhabbo #subnavi-login form ul {
	padding:6px 11px;
}
body.newhabbo #subnavi-login input.login-field {
	border:2px transparent;
	border-radius:3px;
}

body.newhabbo #subnavi-login-help ul {
	padding:2px 11px 0px;
}

body.newhabbo #login-submit-new-button {
	height:21px;
}

body.newhabbo #login-submit-new-button b {
	background:none;
	background-color:#1377aa;
	color:white;
	text-shadow:0px 1px 0px #0c5475;
	border-radius:3px;
	padding:2px 17px 2px 20px;
}

body.newhabbo #login-submit-new-button b:hover {
	background-color:#138bc2;
}

body.newhabbo #login-submit-new-button i {
	background:none;
}

body.newhabbo a.new-button.green-button b {
	background:#2eb935;
	color:white;
	font-weight:bold;
	text-shadow:0px 1px 0px #22851b;
	border-radius:4px;
}

body.newhabbo a.new-button.green-button:hover b {
	background:#34d13c;
	text-shadow:0px 1px 0px #2a9e21;
}

body.newhabbo a.new-button.green-button i {
	display:none;
}


body.newhabbo a.new-button.red-button b {
	background:#b82e2e;
	color:white;
	font-weight:bold;
	text-shadow:0px 1px 0px #851c1c;
	border-radius:4px;
}

body.newhabbo a.new-button.red-button:hover b {
	background:#cf3434;
	text-shadow:0px 1px 0px #9c2121;
}

body.newhabbo a.new-button.red-button i {
	display:none;
}


body.newhabbo a.new-button b {
	padding:5px 20px 5px 20px;
	height:15px;
}

body.newhabbo #habbos-online {
	top:-5px;
}

body.newhabbo #content .bt {
	background-image:none;
}

body.newhabbo #content .bt div {
	background-image:none;
}

body.newhabbo #content .bb {
	background-image:none;
}

body.newhabbo #content .bb div {
	background-image:none;
}

body.newhabbo #content .i1 {
	background-image:none;
	padding:0px;
}

body.newhabbo #content .i2 {
	background-image:none;
	padding:0px;
}

body.newhabbo div.rounded-container {
	border-radius:4px;
}

body.newhabbo .cb {
	background:white;
	background-clip:padding-box;
	border-width:1px 1px 2px 1px;
	border-style:solid;
	border-color:rgba(0, 0, 0, 0.3);
	border-radius:4px;
}

body.newhabbo div.rounded-container div {
	background:none !important;
}

body.newhabbo #habbos-online span {
	background-color:#ffffff;
	width:121px;
	border-radius:4px;
}

body.newhabbo #wide-personal-info {
	background-clip:padding-box;
	border-width:1px 1px 2px 1px;
	border-style:solid;
	border-color:rgba(0, 0, 0, 0.3);
	border-radius:8px;
	padding-bottom:0px;
	margin-bottom:7px;
}

body.newhabbo #promo-box {
	background-clip:padding-box;
	border-width:1px 1px 2px 1px;
	border-style:solid;
	border-color:rgba(0, 0, 0, 0.3);
	border-radius:8px;

}

body.newhabbo #promo-box .promo-container {
	box-shadow:inset 0px 1px 0px rgba(255,255,255,0.50);
	border-radius:8px;
}

body.newhabbo #promo-box .promo-content {
	width:370px;
}

body.newhabbo #promo-box .title, body.newhabbo #promo-box .body {
	background-color:rgba(0,0,0,0.3);
	padding:4px;
	border-radius:4px;
	float:left;
	transition:background 500ms;
}

body.newhabbo #promo-box .title:hover, body.newhabbo #promo-box .body:hover {
	background-color:rgba(0,0,0,0.6);
}


body.newhabbo #navi2 {
	background:none;
	background-color:#7aa3b9;
	padding:0px 0px 8px 0px;
	line-height:normal;
	border-radius:0px 0px 4px 4px;
	box-shadow:0px 3px 0px rgba(0, 0, 0, 0.3);
}

body.newhabbo.color_purple #navi2 {
	background-color:#b290cf;
}

body.newhabbo.color_pink #navi2 {
	background-color:#d794b3;
}

body.newhabbo.color_red #navi2 {
	background-color:#c65f66;
}

body.newhabbo.color_orange #navi2 {
	background-color:#ea9f54;
}

body.newhabbo.color_yellow #navi2 {
	background-color:#deb847;
}

body.newhabbo.color_green #navi2 {
	background-color:#98bb37;
}

body.newhabbo.color_black #navi2 {
	background-color:#5a5a5a;
}

body.newhabbo.color_white #navi2 {
	background-color:#dbdbdb;
	color:rgba(0,0,0,0.85);
}

body.newhabbo #navi2-container {
	background:none;
	padding:0px;
	position:fixed;
	top:104px;
	z-index:999;
	left:0;
	right:0;
}

body.newhabbo #navi2 ul li {
	border-right:none;
	margin-right:15px;
}

body.newhabbo #navi2 ul li.selected {
	color:rgba(255,255,255,0.85);
}

body.newhabbo.color_white #navi2 ul li.selected {
	color:rgba(0,0,0,0.85);
}


body.newhabbo #navi2 ul li a {
	color:rgba(255,255,255,0.85);
}

body.newhabbo.color_white #navi2 ul li a {
	color:rgba(0,0,0,0.85);
}

body.newhabbo #container {
	margin-top:140px;
}

body.newhabbo h2.title {
	background: #595959; background: -moz-linear-gradient(top,  #595959 0%, #4d4d4d 50%, #404040 51%, #333333 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#595959), color-stop(50%,#4d4d4d), color-stop(51%,#404040), color-stop(100%,#333333)); background: -webkit-linear-gradient(top,  #595959 0%,#4d4d4d 50%,#404040 51%,#333333 100%); background: -ms-linear-gradient(top,  #595959 0%,#4d4d4d 50%,#404040 51%,#333333 100%); background: linear-gradient(to bottom,  #595959 0%,#4d4d4d 50%,#404040 51%,#333333 100%);
	height:auto;
	padding:4px 0px !important;
	margin:-9px -4px;
	border-bottom:1px solid #000000;
	border-radius:3px 3px 0px 0px;
	box-shadow:inset 0px 1px 0px 0px #737373;
	text-shadow:0px 1px 0px #000000;
	font-size:13px;
	line-height:normal;

}

body.newhabbo#news #column1 {
	width:240px;
}

body.newhabbo #article-archive {
	padding:0px;
}

body.newhabbo #article-archive h2 {
	background-color:#d8e0e5;
	padding:7px 10px;
	color:#3a5767;
	border-bottom:1px solid #768791;
	font-size:12px;
}

body.newhabbo #article-archive ul {
	margin:0px;
}

body.newhabbo #article-archive ul li {
	background-color:#f6f6f6;
	margin:0px;
	padding:7px 10px;
	color:#666666;
	border-bottom:1px solid #cdcdcd;
	font-style:italic;
}

body.newhabbo #article-archive ul li:nth-child(even) {
	background-color:#fafafa;
}

body.newhabbo #article-archive a {
	margin:5px 10px;
	float:right;
	color:#424242;
	text-decoration:none;
	font-weight:bold;
}

body.newhabbo #article-archive ul li a {
	margin:0px;
	float:none;
	color:#424242;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
}

body.newhabbo #article-archive a:hover {
	text-decoration:underline;
}

body.newhabbo #footer p {
	color:#292929;
	font-size:10px;
}

body.newhabbo #footer p.copyright {
	color:#ececec;
}

body.newhabbo.color_white #footer p.copyright {
	color:#6f6f6f;
}

body.newhabbo .ad-container {
	display:none;
}
body.newhabbo #column1.column {
	width:760px;
}

body.newhabbo #habblet-container {
	width:760px;
	overflow:hidden;
}

body.newhabbo #twitterfeed-habblet-container {
	float:left;
}